/* 版心区域宽1190 水平居中 */
.w{
    width:1190px;
    margin:0 auto;
}
*{margin: 0;padding: 0;}
/* 清除浮动的通用代码 */
.clearfix::after{
    content:".";
    height: 0;
    visibility:hidden;
    display:block;
    clear:both;
}
.clearfix{*zoom:1;}
/* IE6 7专用 */
.box{
    width: 1190px;
    height: 560px;
    margin: auto;
}
.table{
    width: 280px;
    height: 280px;
    float: left;
    background-color: darksalmon;
    border-spacing: 2px;
}
.table tr td img{
    width: 180px;
    height: 180px;
    margin-top: 60px;
    margin-left: 10px;
    cursor: pointer;
    transition: all 0.6s;
}
.table tr td img:hover{
    transform: scale(1.2);
}
.float{
    width: 550px;
    height: 150px;
    margin-top: -210px;
}
.float p{
    font-size: 18px;
    margin-left: 240px;
    margin-top: 40px;
    background-color: coral;
}
.ex{
    width: 560px;
    height: 220px;
    margin-top: 40px;
    font-size: 18px;
    background-color: coral;
}