/* 版心区域宽1190 水平居中 */
.w{
    width:1190px;
    margin:0 auto;
}
*{margin: 0;padding: 0;}
/* 清除浮动的通用代码 */
.clearfix::after{
    content:".";
    height: 0;
    visibility:hidden;
    display:block;
    clear:both;
}
.clearfix{*zoom:1;}
/* IE6 7专用 */
body{
    background-color: #FAE8C8;
}
.head{
    height: 122px;
}
.head_top{
    height: 26px;
    background-color: #D61315;
}
.head_top_1{
    width: 1190px;
    height: 26px;
    margin: auto;
}
.head_top_1 span{
    line-height: 26px;
    float: right;
}
.head_body{
    width: 1190px;
    height: 92px;
    margin: 0 auto;
}
/*搜索框*/
.search{
    position: absolute;
    top:55px;
    left:780px;
    width: 546px;
    height: 32px;
    border:2px solid red;
}
.search input{
    width: 480px;
    height: 30px;
    padding-left:10px;
    border:1px solid red;
    color:#ccc;
    outline:none;
    font-size:14px;
    float: left;
}
.search button{
    width: 54px;
    height: 32px;
    background:red;
    outline:none;
    border:1px solid red;
    float: right;
    /* 光标焦点变成小手 */
    cursor:pointer;
}
/*图标*/
.head_body .pic{
    width: 160px;
    height: 97px;
}
.head_body .pic img{
    width: 100%;
    height: 100%;
}
/*导航*/
.body{
    height: 60px;
    background-color: #D61315;
}
#nav{
    width: 1190px;
    height: 60px;
    list-style: none;
    margin:auto;
}
#nav li{
    float: left;
    height: 100%;
    width: 160px;
    line-height: 48px;
    text-align: center;
}
#nav li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
/*下拉菜单*/
.dropbtn {
    color: white;
    padding: 9px;
    font-size: 14px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.8);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 12px;
    line-height: 12px;
}

.dropdown-content a:hover {
    color: red;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: red;
}
/*轮播图*/
a{
    text-decoration: none;
}
.container {
    position: relative;
    width: 600px;
    height: 400px;
    margin:100px auto 0 auto;
    box-shadow: 0 0 5px green;
    overflow: hidden;
}
.container .wrap {
    position: absolute;
    width: 4200px;
    height: 400px;
    z-index: 1;
}
.container .wrap img {
    float: left;
    width: 600px;
    height: 400px;
}
.container .buttons {
    position: absolute;
    right: 5px;
    bottom:40px;
    width: 150px;
    height: 10px;
    z-index: 2;
}
.container .buttons span {
    margin-left: 5px;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: green;
    text-align: center;
    color:white;
    cursor: pointer;
}
.container .buttons span.on{
    background-color: red;
}
.container .arrow {
    position: absolute;
    top: 35%;
    color: green;
    padding:0px 14px;
    border-radius: 50%;
    font-size: 50px;
    z-index: 2;
    display: none;
}
.container .arrow_left {
    left: 10px;
}
.container .arrow_right {
    right: 10px;
}
.container:hover .arrow {
    display: block;
}
.container .arrow:hover {
    background-color: rgba(0,0,0,0.2);
}
/*中左框*/
.left{
    width: 270px;
    height: 404px;
    position: absolute;
    left: 165px;
    top: 280px;
}
.left_top{
    width: 270px;
    height:202px;
}
.left_top img{
    width: 100%;
    height: 100%;
}
.left_button{
    width: 270px;
    height:202px;
}
.left_button img{
    width: 100%;
    height: 100%;
}
.right{
    width: 270px;
    height: 404px;
    position: absolute;
    left: 1096px;
    top: 280px;
    border: 1px solid black;
}
.right span{
    font-size: 22px;
    margin-left: 88px;
}
.right img{
    width: 270px;
    height: 270px;
    margin-top:25px;
}
.right_p1{
    margin-left: 98px;
    font-size: 22px;
}
.right_p2{
    margin-top: 10px;
    margin-left: 30px;
}